<ion-view cache-view="false" hide-nav-bar="true">

    <ion-header-bar align-title="center">
        <a href="#/menu/matpel" class="button icon ion-ios-arrow-back" nav-direction="back"></a>
        <h1 class="title">Update Mata Pelajaran</h1>
    </ion-header-bar>

    <ion-content>
        <form ng-submit="updateMatpel()">
            <div class="list">
                <label class="item item-input">
                    <span class="input-label">ID MatPel</span>
                    <input type="text" ng-model="MatpelData.id_matpel">
                </label>
                <label class="item item-input">
                    <span class="input-label">Nama Matpel</span>
                    <input type="text" ng-model="MatpelData.namamatpel">
                </label>
                <label class="item item-input item-select">
                    <span class="input-label">Kelompok</span>
                    <select ng-model="MatpelData.kelompok">
                        <option disabled>Pilih</option>
                        <option value="A">A</option>
                        <option value="B">B</option>
                        <option value="C">C</option>
                    </select>
                </label>
                <label class="item">
                    <button class="button button-block button-positive">Update</button>
                </label>
            </div>
        </form>
    </ion-content>

</ion-view>