<ion-view cache-view="false" hide-nav-bar="true">

    <ion-header-bar align-title="center">
        <a href="#/menu/nilai-matpel/{{curUserId}}" class="button icon ion-ios-arrow-back" nav-direction="back"></a>
        <h1 class="title">Update Nilai</h1>
    </ion-header-bar>

    <ion-content>
        <form ng-submit="updateNilai()">
            <div class="list">
                <label class="item item-input">
                    <span class="input-label">ID User</span>
                    <input type="text" ng-model="nilaiData.username" disabled>
                </label>
                <label class="item item-input">
                    <span class="input-label">MatPel</span>
                    <input type="text" ng-model="nilaiData.id_matpel" disabled>
                </label>
                <label class="item item-input">
                    <span class="input-label">Nilai Pengetahuan</span>
                    <input type="text" value="" ng-model="nilaiData.pengetahuan">
                </label>
                <label class="item item-input">
                    <span class="input-label">Nilai Keterampilan</span>
                    <input type="text" value="" ng-model="nilaiData.keterampilan">
                </label>
                <label class="item">
                    <button class="button button-block button-positive">Simpan</button>
                </label>
            </div>
        </form>
    </ion-content>

</ion-view>